
// Home Page Styles
.gray-box {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f2f2ef;
    border-radius: 8px;
}

.banner {
    h1 {
        font-weight: bold;
    }
}

// services section styles start
.services  {
    .service-item {
        .text {
            padding: 30px;
        }

        h3 {
            font-size: 1.5rem;
            font-weight: 700;
            @media (min-width: 992px ) { font-size: 36px; }    
        }

        p {
            font-size: 1rem;
            color: black;
            line-height: 1.5;
        }

        .more-info-btn {
            font-size: 1rem;
            font-family: 'HelveticaNeueBold', sans-serif;
            color: black;
            text-decoration: none;

            &:hover {
                color: red;
            }
        }
    }
}
// Services section styles end

// storage-unit-pricing start
.storage-unit-pricing {
    .icon-cyan {
        width: 24px;
        height: 24px;
        background-color: #6ca6f6;
        border-radius: 100%;
        display: inline-block;
        text-align: center;
        color: #fff;
        padding-top: 2px;
    }
    .icon-blue {
        width: 24px;
        height: 24px;
        background-color: #193d8e;
        border-radius: 100%;
        display: inline-block;
        text-align: center;
        color: #fff;
        padding-top: 2px;
    }
    .icon-gray {
        width: 24px;
        height: 24px;
        background-color: #aaaaaa;
        border-radius: 100%;
        display: inline-block;
        text-align: center;
        color: #fff;
        padding-top: 2px;
        font-weight: bold;
    }
    .icon-green {
        width: 24px;
        height: 24px;
        background-color: #198754;
        border-radius: 100%;
        display: inline-block;
        text-align: center;
        color: #fff;
        padding-top: 2px;
        font-weight: bold;
    }

    .select-btn {
        background-color: #193d8e;
        color: #fff;
        font-weight: bold;
        font-size: 1.25rem;
        width: 100%;
       min-width: 150px;
       padding-block: .65rem;

        &:hover {
            background-color: orange;
            color: #000;
        }
    }
}
// End of storage-unit-pricing
